[user]
	name = Chad Payne
	email = chadpayne@gmail.com
[push]
	default = simple
[alias]
  tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  vtag = tag --sort=version:refname
